body{
    background-color: bisque;
}
.kitap-karti{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color:aliceblue;
    border-radius: 10px;
    gap: 10px;
    text-align:center;
    
    
}
.kitap-resim{
    width: 100px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 20%;
    
}
.katalog{
    display: flex;
    background-color: burlywood;
    padding: 20px;
    gap: 20px;
}
.h1-container{
    background-color: aquamarine;
    display: flex;
}