body{
    background-color: burlywood
}
a{
    color: green;
    font-size: 30px;
}
.satis{
    color: blue;
    background-color: yellow;
}
.google{
    color: brown;
    background-color: aquamarine;
}